<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- CONTAINER NAVBAR -->
    <div class="container">
        <a class="navbar-brand" href="../index.html"><b>Dev Web</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="../index.html">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-3 active">
                    <a class="nav-link" href="../pages/produtosDisponiveis.html">Produtos</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link disabled" href="contato.html">Contato</a>
                </li>
            </ul>
        </div>
        <a href="login.html" class="btn btn-outline-dark my-2 my-sm-0">Fazer Login</a>
    </div>
</nav>